//* {
//  box-sizing: border-box;
//}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f8;
}

.reply{
  margin-right: 16px;
  font-weight: bold;
  color: #696699;
}

.iconReply{
  margin-right: 8px;
  //margin-top: 2px;
}

.card {
  max-width: 700px;
  margin-inline: auto;
  background: #fff;
  //padding-top: 30px;
  padding: 16px;
  border-radius: 15px;
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.likeCounter{
  height: 140px;
  background: #f3f4f8;
  color: #636699;
  padding: 15px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}

.authorPic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.postingDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin-bottom: 15px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nickname{
  font-weight: bold;
  color: #696699;
  display: flex;
  margin-right: 20px;
  margin-left: 10px;
  //margin-top: 10px;
}

.postContent{
  color: #8c8d8f;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-top: 10px;
  font-size: 18px;
}

.postInfo{
  //background-color: red;
  width: 600px;
}

.postedTime{
  color: #8c8d8f;
  //margin-right: 30px;
  margin-right: auto;
}

.plus {
  margin-left: 6px;
  color: #696699;
  font-size: 21px;
}

.likes{
  color: #696699;
  font-size: 21px;
}

.minus{
  margin-left: 6px;
  color: #696699;
  font-size: 21px;
}

@media only screen and (max-width: 540px) {
  .card{
    width: 530px;
  }
}